html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

h1{
  font-size: 48px;
}

.item.completed {
  background-color: #D2D8B3;
  text-decoration: line-through;
}